<header>
    <a href="{% url 'temple:homepage' %}" class="logo">Кстовское благочиние</a> {# Используйте реальное имя вашего приложения #}
    <nav role="navigation" aria-label="Основная навигация">
        <button class="hamburger-menu" aria-label="Открыть или закрыть меню навигации" aria-expanded="false" aria-controls="main-nav-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu" id="main-nav-menu">
            {% comment %} <li><a href="{% url 'temple:homepage' %}">Главная</a></li> {% endcomment %}
            <li><a href="{% url 'temple:news' %}">Новости</a></li>
            <li><a href="{% url 'temple:clergy' %}">Духовенство</a></li>
            <li><a href="{% url 'temple:temple' %}">Храмы</a></li>
            <li class="has-dropdown">
                <a href="{% url 'temple:deal' %}">Деятельность<span class="dropdown-arrow"></span></a>
                <ul class="dropdown-menu">
                    {% for deal_item in all_deal %}
                        <li><a href="{% url 'temple:deal_detail' pk=deal_item.pk %}">{{ deal_item.stream }}</a></li>
                    {% empty %}
                        <li><a href="#">Деятельность не найдена</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="{% url 'temple:secret' %}">Таинства<span class="dropdown-arrow"></span></a>
                <ul class="dropdown-menu">
                    {% for secret_item in all_secrets %}
                        <li><a href="{% url 'temple:secret_detail' pk=secret_item.pk %}">{{ secret_item.name }}</a></li>
                    {% empty %}
                        <li><a href="#">Таинства не найдены</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'temple:godserves' %}">Богослужения</a></li>
            <li><a href="{% url 'temple:contact' %}">Контакты</a></li>
        </ul>
    </nav>
</header>